.env
.env.*
venv/
env/
*.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
*.sqlite3
db.sqlite3
staticfiles/
media/
logs/
*.log
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
Thumbs.db
desktop.ini